    <!-- 👇 HEADER BAR -->
    <mat-toolbar color="primary" class="dashboard-header-toolbar">
      <span class="spacer"></span>
      <span class="header-title">Petit Four</span>
      <span class="spacer"></span>
      <button mat-icon-button class="profile-btn">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>
<mat-sidenav-container class="dashboard-container" autosize>
  <mat-sidenav mode="side" opened class="dashboard-sidenav">
    <div class="logo">
      <mat-icon>home</mat-icon>
    </div>
    <mat-nav-list>
<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button matIconButton disabled  ></button>
    <a mat-list-item [routerLink]="node.route" >
      {{node.name}}
    </a>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                 [cdkTreeNodeTypeaheadLabel]="node.name">
    <button matIconButton matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <a mat-list-item routerLink="/recipes" >
      {{node.name}}
    </a>
  </mat-tree-node>
</mat-tree>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>